*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 1366px;
  margin: auto;
}

/* banner */
.banner {
  display: block;
  width: 100%;
  min-height: 280px;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.246), rgb(255, 255, 255)), url("../images/banner.jpg");
}

/* end of banner */

.main-form {
  margin-inline: auto;
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding-block: 10px;
  margin-bottom: 50px;
}

.search__form {
  margin-inline: auto;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__result {
  margin-top: 50px;
}

.main-form__title {
  text-align: center;
}

.main-form__desc {
  margin-top: 5px;
  text-align: center;
}

.main-form__input {
  all: unset;
  background-color: #eee;
  padding: 10px;
  min-width: 300px;
}

.main-form__search {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

.main-form__submit {
  all: unset;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: rgb(93, 177, 108);
  color: white;
  cursor: pointer;
}

/* end of main form */
recipe-categories {
  display: block;
  padding-inline: 25px;
}

/* card */
.food-card__container {
  width: 200px;
}

.food-card {
  padding-block: 0px 20px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.072);
}

.food-card__body {
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
}

.food-card__img {
  width: 100%;
}

.food-card__title {
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
  font-size: 16px;
}

.food-card__button {
  all: unset;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: rgb(93, 177, 108);
  color: white;
  cursor: pointer;
  text-align: center;
}

.recipe-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 15px;
}

/* pop up */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.308);
  top: 0;
  overflow-y: scroll;
  left: 0;
  display: flex;
  padding: 30px;
}

.modal__inner {
  width: 80%;
  background-color: white;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
}

.modal__close {
  all: unset;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 16px;
  height: 16px;
  background-color: white;
  color: black;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  right: 50px;
}

.modal__img {
  width: 100%;
  margin-top: 30px;
}

.modal__category {
  color: rgb(57, 57, 57);
  margin-top: 5px;
}

.modal__desc {
  text-align: justify;
  text-indent: 50px;
}

.modal__ingredient {
  list-style-position: inside;
}

.modal__title2 {
  margin-top: 10px;
}
